.animated {
	animation-duration: 0.4s;
	animation-fill-mode: both;
}

.animated.infinite {
	animation-iteration-count: infinite;
}

@import "bouncing_entrances/bounceIn";
@import "zooming_entrances/zoomIn";

@import "fading_entrances/fadeIn";
@import "fading_entrances/fadeInUp";
@import "fading_entrances/fadeInDown";
@import "fading_entrances/fadeInRight";
@import "fading_entrances/fadeInLeft";



