@import "../../style/common";

.mona-form-item {
	margin-bottom: @form-item-space;
}

.mona-form-item-label {
	padding: 5px 0;
	min-height: @form-item-height;
	line-height: @form-item-height - 10px;
	text-align: right;
}

.mona-form-item-vertical {
	display: block;
	.mona-form-item-vertical-tit {
		line-height: 20px;
		height: 20px + @space-xs;
		color: @color-light;
	}
}

.mona-form-compact {
	.mona-form-item {
		margin-bottom: @form-item-space-sm;
	}
}

.mona-form-text {
	line-height: 20px;
	padding: 6px 0;
}

.mona-form-item-h {
	height: @form-item-height;
}

.mona-form-item-h-lg {
	height: @form-item-height-lg;
}

.mona-form-item-h-md {
	height: @form-item-height-md;
}

.mona-form-item-h-sm {
	height: @form-item-height-sm;
}

.mona-form-item-h-xs {
	height: @form-item-height-xs;
}
