@import "../../style/common";

.mona-autoComplete-list {
	background-color: #fff;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	max-height: 250px;
	overflow: hidden;
	font-size: 14px;
}

.mona-autoComplete-list-item {
	padding: 0 12px;
	height: 32px;
	cursor: pointer;
	&:hover {
		background-color: #f5fbff;
	}
}
